{% extends 'partials/base.html' %}
{% block title %}Edit Product: {{ form.instance.name }}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3 p-4 bg-white rounded shadow-sm">
        <h3 class="mb-4 text-primary">Edit Product: {{ form.instance.name }}</h3>
        <form method="POST" enctype="multipart/form-data">  <!-- Enctype in case of file uploads -->
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-3 d-flex justify-content-between">
                <a href="{% url 'dashboard:products' %}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-info">Save Changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
